@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SWRPG Initiative Tracker</a>
                <a href="https://github.com/varr0k/SWRPGInitTracker" class="btn btn-outline-light"><i class="bi bi-github"></i></a>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
